<div class="d-md-none">
    <a href="/"><img src="~/images/logo.png" alt="logo.png" class="logo-top-sm img-fluid" title="Kriminalvården" asp-append-version="true" /></a>
</div>
<nav class="navbar navbar-expand navbar-dark bg-nav-color-searchtop py-sm-0">
    <a class="navbar-brand d-none d-md-block" href="/"><img src="~/images/logo.png" alt="logo.png" class="logo-top" title="Kriminalvården" asp-append-version="true" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsiveMenu" aria-controls="responsiveMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="mdi mdi-menu"></span>
    </button>
    <div class="navbar-collapse collapse ml-auto" id="responsiveMenu">
        <div class="d-search top ds-top">
            <form asp-action="BingSearch" asp-controller="Search" method="get" class="search" id="submitSearch">
                <input class="form-control search-form-control sfc-main" type="search" autocapitalize="off" placeholder="@ViewBag.SearchString" aria-label="Sök" name="q" id="searchInput" title="Sök">
                <button type="submit" class="sb-icon float-right submit-btn-search"><i class="mdi mdi-magnify"></i></button>
            </form>
        </div>
    </div>
    <div class="ml-auto text-right homelink">
        <a asp-action="Index" asp-route-q="@ViewBag.SearchString">Byt till Google</a>        
    </div>
</nav>