@{
    ViewData["Title"] = "Hemkodningsuppgift";
}

<div class="container fluid">
    <div id="mainContent">
        <img class="img-fluid img-center img-krim" src="~/images/logo.png" alt="logo.png" title="Kriminalvården" asp-append-version="true" />
        <div class="d-search ds-main">
            <div class="collapse show" id="bingCollapse" aria-expanded="false" aria-controls="bingCollapse">
                <form asp-action="BingSearch" asp-controller="Search" method="get" class="search" id="submitSearch">
                    <input class="form-control search-form-control sfc-main" type="search" autocapitalize="off" placeholder="Sök på Bing" aria-label="Sök" name="q" id="searchInput" title="Sök">
                    <button type="submit" class="sb-icon float-right submit-btn-search"><i class="mdi mdi-magnify"></i></button>
                </form>
            </div>
            <div class="collapse" id="googleCollapse" aria-expanded="true" aria-controls="googleCollapse">
                <gcse:searchbox-only></gcse:searchbox-only>
            </div>
        </div>
        <div class="searchButtons mx-auto">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="bingRadio" name="googlebingRadio" data-toggle="collapse" data-target="#bingCollapse" checked="checked" />
                <label class="custom-control-label" for="bingRadio">Sök på Bing</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="googleRadio" name="googlebingRadio" data-toggle="collapse" data-target="#googleCollapse" />
                <label class="custom-control-label" for="googleRadio">Sök på Google</label>
            </div>            
        </div>
    </div>
</div>

@section Scripts {
    <script>
        window.onload = function () {
            document.getElementById("gsc-i-id1").placeholder = "Sök på Google";
        };
    </script>
}